.login {
  background-image: url("/img/3.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
}
.logform {
  width: 350px;
  height: auto;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.logform h1 {
  color: #df4a38;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  font-family: "Cardo", serif;
  font-weight: 500;
}
.logform form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logform form input {
  color: #df4a38;
  border-radius: 10px;
  border: 1px solid #e3ebf3;
  padding: 0.5em 1em;
  width: 80%;
  margin-bottom: 1em;
}
.logform form button {
  margin: 1em 1em 1em 1em;
  padding: 0.75em 2em;
    background: url('/img/bg.png') no-repeat center/cover;
;
  color: #fff;
  border-radius: 10px;
}
.logform p {
  color: #df4a38;
  font-size: 0.8rem;
}
