.practise-page-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  background-color: #fff;
}

.practise-page-container .header-section div {
  border-bottom: 3px solid #df4a38;
  width: 30%;
  margin: 0.5em auto;
}

.practise-page-container .header-title {
  font-size: 2rem;
  color: #333;
  font-family: "Cardo", serif;
  font-weight: 500;
}

.practise-page-container .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns items to the left by default */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 3em 0;
}

.practise-page-container .card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  flex: 1 1 calc(30% - 20px); /* Ensures 4 items per row with gap */
  box-sizing: border-box;
}

.practise-page-container .card:nth-child(4n) {
  margin-right: 0; /* Ensures no margin on the right of the last item in each row */
}

.practise-page-container .card:hover {
  transform: translateY(-5px);
}

.practise-page-container .card-link {
  text-decoration: none;
}

.practise-page-container .card-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.practise-page-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(228, 64, 25, 0.7), rgba(228, 64, 25, 0.7), rgba(230, 103, 26, 0.7));

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.practise-page-container .card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.practise-page-container .card-title {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Cardo", serif;

  font-weight: normal;
  text-align: center;
  z-index: 1;
  transition: font-weight 0.3s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.practise-page-container .card:hover .card-title {
  font-weight: bold;
}

/* Center the last card if there are fewer than 4 items in the last row */
.practise-page-container .grid-container:last-child {
  justify-content: center; /* Centers items in the last row */
}

@media (max-width: 768px) {
  .practise-page-container .card {
    flex: 1 1 100%; /* Cards take full width on small screens */
  }

  .practise-page-container .grid-container {
    justify-content: center; /* Center cards horizontally on small screens */
  }
}
