
.last-container {
    padding: 2em 0;
    background-color: #fff;
  }
  .last-container .header-section div {
    border-bottom: 3px solid #df4a38;
    width: 10%;
    margin: 0.5em auto;
  }
  
  .last-container .header-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    font-family: "Cardo", serif;
    font-weight: 500;
  }
  .blog-cards-container {
    padding: 2em 0;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  .blog-card {
    position: relative;
    width: 300px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  
  .blog-card:hover {
    transform: scale(1.05);
  }
  
  .blog-card-image {
    width: 100%;
    height: 200px;
  }
  
  .blog-card-content {
    padding: 0.5em;
  }
  
  .blog-card-title {
    font-size: 1.2rem;
    color: #333;
    font-family: "Cardo", serif;
  }
  
  .blog-card-subtitle {
    font-size: 0.9rem;
    color: #666;
    font-family: "Cardo", serif;
  }
  .blog-card-social {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: none;
  }
  .blog-card-social span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
      background: url('/img/bg.png') no-repeat center/cover;
;
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media (max-width: 763px) {
    .last-container .header-title {
        width: 95%;
        margin: 0 auto;
      }
      .blog-card {
        margin-bottom: 2em;
      }

}