.managing-container {
  position: relative;
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* 30% white overlay */
  z-index: 1;
}
.managing-contentWrapper{
  display: flex;
  max-width: 95%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  padding: 2em 0;
}

.managing-leftColumn {
  flex: 1;
  padding: 2em;
  text-align: justify;
  color: white; /* Ensuring readability on transparent background */
}


.managing-rightColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  
}

.managing-image {
  border-radius: 10px;
  height: auto;
}

.managing-leftColumn h1{
  text-align: center;
  font-family: "Cardo", serif;

  font-size: 2.5rem;
  color: #df4a38;
  font: bold;
}
.managing-leftColumn h2 {
  text-align: center;
  color: #333;
  font: bold;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  margin-bottom: 1em;
}
.managing-leftColumn h3 {
  text-align: center;
  color: #df4a38;
  font: bold;
  font-size: 1.2rem;
  font-family: "Cardo", serif;
  margin-bottom: 0.5em;
}
.managing-leftColumn p {
  text-align: justify;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1em;
  line-height: 1.5rem;
}
.additional-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background: url('/img/bg.png') no-repeat center/cover;

  border-top: 1px solid #e0e0e0;
  flex-wrap: wrap;
}

.additional-leftColumn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-rightColumn {
  width: 30%;
  
}

.additional-image {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.additional-rightColumn span {
  color: #df4a38;
  font-weight: bold;
}
.additional-header-section {
  width: 100%;
  margin-bottom: 3em;
}
.additional-header-section div {
  border-bottom: 3px solid #fff;
  width: 10%;
  margin: 0.5em auto;
}

.additional-header-title {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  font-family: "Cardo", serif;
  font-weight: 500;
}

@media (max-width: 763px) {
  .managing-contentWrapper{
    flex-direction: column-reverse;
  }
 
  .managing-image{
    height: auto;
  }
  .managing-leftColumn{
    padding-top: 0;
  }
  .managing-leftColumn h1 {
    font-size: 1.5rem;
  }
  .managing-leftColumn h2{
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-bottom: .75em;
  }
  .managing-leftColumn h3{
    font-size: 1.2rem;
  }
  
  .additional-container {
    padding: 20px;
    flex-direction: column;
  }
  .additional-header-section div {
    width: 40%;
    margin-top: 1.5em;
  }
  .additional-header-title {
    line-height: 1.2em;
  }
  .additional-header-section {
    margin-bottom: 1em;
  }
  .additional-leftColumn {
    width: 100%;
    height: auto;
  }
  .additional-rightColumn {
    width: 100%;
    height: auto;
  }

}
