/* Full-screen overlay */
.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/img/bg.png') no-repeat center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  height: 100vh;
}

/* Hidden class for the agreed state */
.hidden {
  display: none;
}

/* Centered box */
.disclaimer-box {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  border: 5px solid white;
}

.disclaimer-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.disclaimer-box p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: left;
  color: white;
}

.disclaimer-buttons {
  display: flex;
  justify-content: space-around;
}

.disclaimer-buttons button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
   background-color: #fff;
  color: #b6392e;
}

/* .disclaimer-buttons button:hover {
  background-color: #b6392e;
} */

.disclaimer-box ul {
  text-align: left;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}

.disclaimer-box li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
/* Mobile devices */
@media screen and (max-width: 768px) {
  .disclaimer {
    height: 100vh; /* Allow content to fit naturally */
    position: fixed; /* Keep it fixed on mobile too */
    top: 0; /* Ensure it stays at the top of the screen */
    bottom: 0; /* Allow it to cover the entire screen */
  }

  .disclaimer-box {
    width: 95%; /* Adjust box width for mobile */
    padding: 15px; /* Adjust padding */
    height: 80vh;
    overflow-y: auto;
  }

  .disclaimer-box h2 {
    font-size: 20px; /* Reduce the font size on mobile */
  }

  .disclaimer-box ul {
    font-size: 14px; /* Smaller list font size for mobile */
  }

  .disclaimer-buttons button {
    font-size: 14px; /* Smaller button text */
    padding: 8px 15px; /* Smaller button padding */
  }
}
