/* footer.css */

.footer {
  background-color: #1e1e1e;
  color: white;
}

.foot-container {
  margin: 0 auto;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 2em;
}
.footer-row-two {
  width: 100%;
  display: flex;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}
.footer-column:nth-child(1) {
  width: 30%; /* Adjust width as needed */
}

.footer-column h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #df4a38; /* Header color */
}

.footer-column p,
.footer-column ul {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
}
.footer-column i{
  padding:.25em .5em .25em 0em;
  font-size: 1.5rem;
}
.footer-column ul {
  list-style: none;
  padding-left: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column a:hover {
  color: #df4a38;
}

.footer-row:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.footer-column p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer-column {
    width: 48%;
    margin-top: 1em;
  }
  .footer-column:nth-child(1) {
    width: 100%;
  }
  .footer-row-two {
    flex-direction: column;
  }
  .footer-row-two .footer-column {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
  }
}
