.blog-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featured-blog {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
  }
  
  .blog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 50% opacity */
    z-index: 1; /* Make sure it sits above the background but below the text */
  }
  
  .featured-blog-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2; /* Ensure text is above the overlay */
  }
  
  .featured-blog-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .featured-blog-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .read-more-btn {
    padding: 10px 20px;
    background-color: rgba(228, 64, 25, 0.8);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .read-more-btn:hover {
    background-color: rgba(228, 64, 25, 1);
  }
  @media (max-width:700px){
    .featured-blog-title{
        font-size: 1.5rem;
    }
  }