.event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin:4em auto;
    border-radius: 10px;
  }
  
  .event-details {
    flex: 1;
    text-align: left;
    padding: 20px;
    display: flex;
  }
  
  .event-logo {
    width: 350px;
    height: 350px;
    object-fit: contain;
    padding: 0;
  }
  
  .event-title {
    padding: 0 1em;
    font-size: 1.75rem;
    font-weight: 600;
    color: #555;
    margin-top: 10px;
    text-align: justify;
    line-height: 2.75rem;
  }
  
  .event-slider {
    flex: 1;
    overflow: hidden;
    position: relative;
    max-width: 600px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .slider-video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  @media (max-width:700px){
    .event-container,.event-details{
        flex-direction: column;
    }
    .event-container{
        margin-top: 0em;
    }
    .event-title{
        padding: 0;
        font-size: 1rem;
        line-height: normal;
    }
    .slider-image{
        height: 300px;
    }
  }