.contact-us {
  background: url("/img/contact.png") no-repeat center center;
  background-size: cover;
  padding: 50px 0;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-us .left,
.contact-us .right {
  flex: 1 1 45%;
  min-width: 300px;
}
.contact-us .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  font-weight: 600;
  color: #fff;
}
/* .contact-box span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
    background: url('/img/bg.png') no-repeat center/cover;
;
} */
.contact-box i {
  color: #df4a38;
  font-size: 1.05rem;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
}
.contact-us .map {
  width: 80%;
  height: 340px;
  border: none;
  border-radius: 8px;
}

.contact-us .right h1 {
  font-size: 2.5rem;
  font-family: "Cardo", serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: .5em;
  color: #fff;

}

.contact-us .right p {
  color: #fff;
  text-align: center;
  font-family: "Cardo", serif;
  font-size: 1rem;
  margin: 0 auto;

  margin-bottom: 1em;
  width: 80%;
}

.contact-us .form-group {
  margin-bottom: 15px;
}
.contact-us .form-group input::placeholder,
.contact-us .form-group textarea::placeholder {
  color: #333;
}
.contact-us form {
  width: 80%;
  margin: 0 auto;
}
.contact-us label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-us .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

.contact-us textarea.input {
  height: 100px;
}

.contact-us .submit-button {
  width: 100%;
  display: inline-block;
  background: url('/img/bg.png') no-repeat center/cover;

  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 763px) {
  .contact-container {
    flex-direction: column-reverse;
  }
  .contact-us .left {
    margin-top: 2em;
  }
  .map {
    height: 400px;
  }
}
