/* Container and layout styles */
.linkedin-list-container {
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
  }
  .linkedin-list-container .header-section div {
    border-bottom: 3px solid #df4a38;
    width: 10%;
    margin: 0.5em auto;
  }
  
  .linkedin-list-container .header-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    font-family: "Cardo", serif;
    font-weight: 500;
  }
  .linkedin-list-title {
    font-size: 2rem;
    margin-bottom: 2em;
    font-weight: bold;
  }
  .linkedin-list-column{
    margin: 0em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .linkedin-post{
    width: 30%;
margin: 2em auto;
  }
  .linkedin-post iframe{
    height: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  @media (max-width : 720px){
    .linkedin-list-container .header-section div {
        width: 30%;
      }
  .linkedin-post{
width: 100%;  
}
  }