/* associateDetails.css */
.associate-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
  width: 90%;
}

.associate-details-left {
  flex: 1;
  padding: 20px;
}

.associate-details-image {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.associate-details-right {
  flex: 2;
}

.associate-details-right h3 {
  text-align: center;
  font-family: "Cardo", serif;

  font-size: 2.5rem;
  color: #df4a38;
  font: bold;
}
.associate-details-right h4 {
  text-align: center;
  color: #555;
  font: bold;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  margin-bottom: 0.25em;
}
.associate-details-right h5 {
  text-align: center;
  color: #df4a38;
  font: bold;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  margin-bottom: 0.5em;
}

.associate-details-right div p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.75em;
  line-height: 1.75rem;
}
.associate-details-right div strong {
  color: #df4a38;
}
@media (max-width: 763px) {
  .associate-details-container {
    flex-direction: column;
    width: 100%;
  }
  .associate-details-right div p {
    width: 100%;
  }
.associate-details-right h3 {
font-size: 1.75rem;
}
}
